@{
    ViewData["Title"] = "Movie List";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>
<br>
<a asp-area="" asp-controller="HelloWorld" asp-action="Welcome" asp-route-name="Rick" asp-route-numtimes="4">hyper link with asp-route example</a>

