@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<div class="sticky-container">
    <div class="sticky-note">
        <p>ViewData 字典用於將資料從Controller傳遞到視圖。在本例中，Controller傳遞一則訊息以及顯示該訊息的次數。然後，視圖使用 for 迴圈將訊息顯示指定的次數。</p>
    </div>
</div>

<ul>

    @for(int i = 0; i < (int)ViewData["Numtimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>
